@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://v1.fontapi.ir/css/Vazir");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-bg {
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(155, 155, 155, 0.37);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
}

.dropdown-link {
  @apply flex p-2 text-[black] hover:bg-gray-200 text-right justify-end rounded;
}

div,
p,
span,
ul,
li,
small,
a,
section,
table,
tr,
th,
button,
body,
label
h1,h2,h3,h4 {
  font-family: Vazir, sans-serif !important;
}

p,div,span {
  direction: rtl;
}
